/*先删除默认的内外边距*/
* {
    padding: 0;
    margin: 0;
}
.clearfix:after {   /*正常浏览器 清除浮动*/
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1; /*zoom 1 就是ie6 清除浮动方式  * ie7以下的版本才能识别 其他浏览器都不执行(略过)*/
}
body {
    background-color: #fafafa;
}
li {
    list-style: none;
}

/*顶部导航栏开始*/
.header {
    height: 100px;
}

.inner {
    width: 1200px;
    height: 100px;
    /*background-color: pink;*/
    margin: 0 auto;
    line-height: 100px;
}
.logo {
    float: left;
}
.nav {
    float: right;
}
.nav li {
    float: left;
    margin: 0 20px;
}
.nav li a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
.nav li a:hover {
    color: #2288f6;
}
/*顶部导航栏结束*/


/*banner start*/
.banner {
    height: 620px;
    background: url("../images/banner1.png") no-repeat top center;
    position: relative;
}
.banner ul {
    width: 100px;
    height: 12px;
    /*background-color: red;*/
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -50px;
}
.banner ul li {
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #fff;
}
.banner .current {
    width: 10px;
    height: 10px;
    background-color: #252f53;
    border: 1px solid #ffffff;
}
/*banner end*/


/*我们服务模块*/
.service {
    width: 1060px;
    /*height: 820px;*/
    margin: 75px auto 0;
    /*background-color: pink;*/
}
.service-hd {
    height: 145px;
    border-top: 1px solid #cccccc;
    margin: 0 25px 50px;
}
.service-hd h3 {
    width: 167px;
    height: 46px;
    margin: -15px auto 0;
}
.service-hd p {
    font-size: 12px;
    color: #666666;
    line-height: 24px;
    text-align: center;
    width: 845px;
    margin: 15px auto 0;
}
.service-bd {
    overflow: hidden;
}
.service-bd li {
    float: left;
    width: 318px;
    height: 510px;
    border: 1px solid #cccccc;
}
.service-bd .two {
    margin: 0 50px;
}
.service-bd h3 {
    font-size: 18px;
    text-align: center;
    font-family: "黑体";
    font-weight: 400;
}
.service-bd p {
    width: 238px;
    height: 110px;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    margin: 12px 40px 42px;
}
.service-bd a {
    height: 38px;
    width: 150px;
    display: block;
    font-size: 12px;
    line-height: 38px;
    color: #ff9412;
    border: 1px solid #ff9412;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    margin-left: 85px;
}
.service-bd a:hover {
    background-color: #ff9412;
    color: #ffffff;
}
/*我们服务模块结束*/


/*经典案例模块开始*/
.case {
    width: 1060px;
    height: 430px;
    border-top: 1px solid #cccccc;
    margin: 75px auto 0;
}

.case h3 {
    width: 167px;
    height: 50px;
    margin: -15px auto 80px;
}
.case-bd li {
    float: left;
    width: 325px;
    height: 211px;
    position: relative;
}
.case .txt {
    font-size: 12px;
    width: 325px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
}
.case .second {
    margin: 0 40px;
}
.case .case-bd {
    position: relative;
}
.left, .right {
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    border-radius: 50%;
}
.left {
    left: -90px;
}
.right {
    right: -90px;
}
.case-bd a:hover {

    background-color: skyblue;
}
a.case-fig1 {
    width: 324px;
    height: 212px;
    display: block;
    position: relative;
}
.case-fig1 .bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 324px;
    height: 212px;
    background: rgba(0, 0, 0, 0.3) url("../images/s.png") no-repeat center;
    display: none;
}
a.case-fig1:hover .bar {
    display: block;
}
/*经典案例模块结束*/


/*合作媒体模块开始*/
.media {
    width: 1060px;
    border-top: 1px solid #cccccc;
    margin: 0 auto;
}
.media-hd h3 {
    width: 165px;
    height: 60px;
    margin: -25px auto 40px;
}
.media-bd {
    width: 1040px;
    height: 240px;
    overflow: hidden;
}
.media-bd ul {
    width: 1200px;
    height: 240px;
}
.media-bd li {
    width: 210px;
    height: 70px;
    float: left;
    border-right: 1px dashed #cccccc;
    border-bottom: 1px dashed #cccccc;
    text-align: center;
    line-height: 82px;
    padding-top: 10px;
}
/*合作媒体模块结束*/

/*底部栏开始*/
.footer {
    width: 100%;
    height: 170px;
    background-color: #212425;
    margin-top: 200px;
    color: #c7c9c9;
    text-align: center;
    overflow: hidden;
}
.subnav {
    margin-top: 50px;
}
.subnav a {
    font-size: 14px;

}
.subnav a:hover {
    text-decoration: underline;
    color: #215b9e;
}
.footer p {
    margin-top: 30px;
    color: #888888;
}
/*底部栏结束*/