/*通用属性*/
*{margin: 0;padding: 0;}
.wp{width: 960px;margin:0 auto;}  /*居中*/
.z{float:left}
.y{float:right}
.cl{clear:both}



.top{
    width: 100%;
    height: 24px;
    background: #303030;
    line-height: 24px;
    margin-bottom: 10px;
}

.top span{
    color:#d8d8d8;
    margin-right: 15px;
}
.top .mr_0{
    margin-right: 0;
}
.top a{
    color: #d8d8d8;
    text-decoration: none;
}
.top a:hover{
    color: #ff6600;
}

/*logos*/
.logos{
    width: 100%;
    height: 59px;
    margin-bottom: 10px;
}

/*搜索*/
.sousuo{
    margin-top: 8px;
}
.s_z{
    width: 6px;
    background: url(images/s_z.jpg) no-repeat;
}
.s_c{
    width:240px;
    background: url(images/s_c.jpg) repeat-x;
}
.s_y{
    width: 78px;
    height: 41px;
    background: url(images/s_r.jpg) no-repeat;
}
.s_c input{
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: 0;
    margin-top: 2px;
}
.s_y button{
    width: 78px;
    height: 41px;
    background: none;
    border: 0;
    cursor: pointer;
}
.dianhua{

    height: 59px;
    line-height: 59px;

    margin-left: 15px;
}
.dianhua span{
    font-size: 26px;
    color: darkred;
}
/*导航*/
.nav{
    height: 39px;
    width: 100%;
    background: url("images/nav_bg.jpg") repeat-x;
    /*margin-bottom: 2px;*/
}
.nav li {
    list-style: none;
    float: left;
    line-height: 39px;
    padding: 0 28px;
}
.nav li.a , .nav li:hover{
    background: url("images/nav_hover.jpg") repeat-x;
}
.nav a{
    color:white;
    text-decoration: none;
    font-size: 16px;
}
/*center*/
/*广告*/
.ad{
    margin-bottom: 10px;
}
/*简介*/
.tit{
    padding-bottom: 8px;
    border-bottom: 1px solid darkred;
    position: relative;
    margin-bottom: 10px;
}
.tit span{
    position: absolute;
    right:0;
    bottom: 0;
}
.tit span a{
    color: darkred;
    text-decoration: none;
}
.jianjie{
    width:540px;
    height: 360px;
}
.jj_c img{
    float: left;
    margin:0 10px 10px 0;
 }
.jj_c p{
    font-size: 16px;
    color: #616161;
    text-indent: 24px;
}


/*新闻*/
.xinwen{
    width: 400px;
    height: 360px;
    margin-left: 20px;
}
.xw_c{

}
.xw_c li{
    list-style: none;
    height: 24px;
    line-height: 24px;
    position: relative;
    padding-left: 15px;
    background: url("images/list_bg.jpg") no-repeat center left;
    margin-bottom: 6px;
}
.xw_c li.a{
    background: none;
    padding: 0;
    height: 76px;
}
.xw_c .a img{
    float: left;
    margin: 0 10px 10px 0;
}
.xw_c .a p{
    font-size: 12px;
    color: #888;
    text-indent: 24px;
}
.xw_c li span{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #888;
    font-size: 12px;
}
.xw_c a{
    color: #616161;
    text-decoration: none;

}
.xw_c h3{
    font-weight: normal;
}
/*产品*/
.chanpin{
    width: 100%;
    height:300px;
}
.cp_c{

}
.cp_c li{
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
    width: 151px;
    height: 96px;
    overflow: hidden;
    position: relative;
}
.cp_c li span{
    display: none;
    position: absolute;
    left:0;
    bottom: 0;
    font-size: 14px;
    height: 20px;
    padding:0 10px;
    width: 141px;
    background:darkred;
    color: #fff;
    overflow: hidden;
}
.cp_c li a:hover span{
    display: block;
}
.cp_c li img{
    float:left;
}
.cp_c li.mr_0{
    margin-right: 0;
}
/*footer*/
.footer{
    width: 100%;
    height: 103px;
    background: url("images/footer_bg.jpg") repeat-x;
}
.footer_top{
    height: 80px;
    line-height: 80px;
    color: white;
}
.footer_top a{
    font-size: 16px;
    color:#ffffff;
    text-decoration: none;
}
.footer_bottom{
    color: #ff6600;
}
.footer_bottom a{
    color: white;
    text-decoration: none;
    margin-right: 16px;
}
.footer_bottom a:hover{
    color:#ff6600;
}